body { 
  margin: 0; 
  overflow: hidden; 
  background: black; 
  font-family: "prestige-elite-std", monospace;
  font-weight: 400;
  font-style: normal;
}

canvas { 
  display: block; 
  margin: auto; /* 中央寄せ */
}

/* 上方向に流れるアニメーション用 */
.slide-up {
  animation: slideUp 2s forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

